.enabled,
.disabled {
  position: relative;
  padding: 5px 15px;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
}
.enabled {
  border-top: 3px solid lightslategray;
  border-left: 3px solid lightslategray;
  border-bottom: 1px solid lightslategray;
  border-right: 1px solid lightslategray;
}
.disabled {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
