.container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 5px;

  width: 235px;
}
.titleContainer {
  display: flex;
  padding: 0 0 15px 0;
  gap: 5px;
}
.button {
  height: 60px;
}
