.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;

  h2 {
    align-self: center;
  }
  .serverError {
    color: red;
    font-weight: normal;
    font-size: 14px;
    height: 14px;
    text-align: center;
  }
  .inputs {
    flex: 1;
  }
}
