.wrapper {
  position: relative;
  list-style: none;
  padding: 10px 10px;

  display: flex;
  justify-content: space-between;
  span {
    position: relative;
    display: flex;
    align-items: center;
  }
  button {
    padding: 5px;
  }
}
.highlight {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.containerEnd {
  position: relative;
  display: flex;
  gap: 10px;
  span {
    font-variant-numeric: tabular-nums;
  }
}
