.item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  position: relative;
}
.highlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.right {
  z-index: 1;
  display: flex;
  gap: 10px;
  span {
    font-variant-numeric: tabular-nums;
  }
}
