.list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  width: 200px;
  h2 {
    margin-bottom: 20px;
  }
  li {
    & > span {
      position: relative;
    }
    &:not(:last-child) {
      border-bottom: 1px solid gray;
      margin-bottom: 5px;
    }
  }
}
