.wrapper,
.wrapperDisabled {
  label {
    flex-direction: row;
  }
}

.wrapper {
  margin-bottom: 20px;
  label {
    flex-direction: row;
    margin-bottom: 10px;
  }
  .skillToggles {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}

.wrapperDisabled {
  color: lightgray;
  text-decoration: line-through;
  margin-bottom: 5px;
  label {
    margin-bottom: 0px;
  }
  .skillToggles {
    display: none;
  }
}

.highlight {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.content {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
}
