.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}
.inputs {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  min-height: 0;
}
.actionBar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  div {
    display: flex;
    gap: 10px;
  }
  padding-bottom: 30px;
}
