.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  .serverError {
    color: red;
    font-weight: normal;
    font-size: 14px;
    height: 14px;
    text-align: center;
  }
}
.inputs {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  min-height: 0;
}
