.displayCollection {
  flex: 1;

  min-width: 0;

  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;

  .overflowContainer {
    display: flex;
    gap: 30px;

    width: 100%;
    height: 100%;

    overflow: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;

  h2 {
    align-self: center;
  }
  .inputs {
    flex: 1;
  }
  .actionBar {
    display: flex;
    justify-content: space-between;
  }
}

.addButton {
  width: 235px;
  flex-shrink: 0;
}
