.list {
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 20px;
  }
  ol {
    overflow: auto;
    height: 100%;
    width: 200px;
  }
  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    position: relative;
    & > span {
      position: relative;
    }
    &:not(:last-child) {
      border-bottom: 1px solid gray;
      margin-bottom: 5px;
    }
  }
}
.highlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
