.form {
  display: flex;
  flex-direction: column;
  height: 100%;

  .warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
  }

  span {
    color: red;
  }

  .actionBar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
